body {

}

.w-95{
    width: 95%;
}

.enter_button{
    border: 2px solid gold;
}

.wrap_flex{
    display: flex;
}

.flex-right{
    justify-content: right;
}

.wrap_circle {
    display: flex;
    justify-content: space-around;
}

.wrap_pagination {
    display: flex;
    justify-content: center;
}

.circle {
    display: flex;
    border-radius: 50%;
    border: 2px solid gold;
    width: 100px;
    height: 100px;
}

.circle_text{
    width: 100px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

.task {
    position:relative;
    margin: 10px;
    padding: 20px 120px 20px 20px ;
    border: 2px solid gold;
    border-radius: 50% 20% / 10% 40%;
}

.yellow {
    background-color: yellow !important;
}

.green {
    background-color: green;
}

.blue {
    background-color: #007bff;
}

.text_white{
    color: white;
}

.text_blue{
    color: #007bff;
}

.pag_link {
    border-radius: 5px;
    margin: 2px;
    padding: 5px;
    border: 1px solid gold;
    background-color: gold;
}

.pag_active {
    background-color: green;
    color: white;
}

.main_header{
    text-align: center;
    font-weight: bold;
    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #007bff;
}

.admin_edit{
    position: absolute;
    right: 30px;
    top: -10px;
    display: flex;
    border-radius: 50%;
    border: 2px solid gold;
    width: 80px;
    height: 80px;
}